*{
    padding: 0;
    margin: 0;
    font-family: "Droid Sans Mono", "Noto Sans Mono", Monospaced, monospace;
}
a{
    text-decoration: none;
    color: inherit;
}
label{
    margin: 2vw;
    display: inline-block;
}
.screen{
    padding: 1vw 1vh;
    width: 40vw;
    height: 90vh;
    margin: 3vh 3vw;
    display: inline-block;
}
html{
    background-color: rgba(255, 200, 0, 0.81);
    width: 100%;
    height: 100%;
}
.input-screen{
    background-color: inherit;
    float: left;
}
.output-screen{
    background-color: #3a3a3a;
    padding: 1vw;
    border-radius: 25px;
    float: right;
    color: #fffaf1;
}

#output, #textspan {
    margin: 1vw;
    overflow: hidden;
    width: 30em;
}

#submit {
    width: 5vw;
}
